body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.library-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.library-form {
  text-align: center;
}

.white-container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.link-button {
  display: block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #6a0dad;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

/* Additional styling for login, signup, and register pages */
.container {
  max-width: 400px;
  margin: 0 auto;
}

/* Additional styling for text fields and buttons */
.library-form input[type="text"],
.library-form input[type="password"],
.library-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.library-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  color: #fff;
  background-color: #6a0dad;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
}

/* Styling for Forgot Password and Reset Password pages */
.forgot-password-container,
.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password-form,
.reset-password-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.forgot-password-form h2,
.reset-password-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.forgot-password-form form,
.reset-password-form form {
  display: flex;
  flex-direction: column;
}

.forgot-password-form label,
.reset-password-form label {
  margin-bottom: 5px;
  color: #555;
}

.forgot-password-form input[type="text"],
.reset-password-form input[type="password"],
.forgot-password-form input[type="email"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-password-form button,
.reset-password-form button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forgot-password-form button:hover,
.reset-password-form button:hover {
  background-color: #0056b3;
}

#error-msg {
  margin-bottom: 15px;
  color: red;
}
